/node_modules
/.vscode
/slider/demo.css
/slider/demo.js
/slider/index.html
/slider/index2.html
webpack.config.js

1jquerySlider.ts
README.1md
.eslintrc.json2
/test/model.spec.ts1
/test/view.spec.ts1
/test/presenter.spec.ts1
webpack.config.js
/demo/demo2.html