* {
    box-sizing: border-box;
}

body {
    margin: 70px auto;
}

h1 {
    text-align: center;
    margin: 40px auto;
}

h3 {
    text-align: center;
    margin: 30px auto;
}

h6 {
    text-align: center;
    margin: 10px auto 30px;
}

hr {
    margin: 10px auto;
}

label {
    margin-bottom: 0px;
}

input[type="number"],
input[type="text"] {
    margin-bottom: 10px;
    display: block;
    padding-left: 10px;
}

input[type="checkbox"] {
    margin-bottom: 20px;
}

input.input-range {
    display: inline-block;
}

.panel {
    padding: 30px 10px;
}

button {
    margin-left: 30px;
}

.slider-wrap {
    margin: 70px 20px;
    max-height: 150px;
    height: 100%;
}

.error {
    border: double;
    border-color: rgba(194, 132, 40, .5);
    margin-top: 50px;
    padding: 10px 15px;
    color: rgb(194, 132, 40);
    max-width: 400px;
}

.demo {
    margin-bottom: 150px;
}

/*------------------*/
.slider {
    margin: 0;
}

.slider__tooltip {
    border-radius: 5px;
}

.slider_horizontal .slider__tooltip {
    margin-top: -38px;
}

.slider_horizontal .slider__scale-division::before {
    height: 9px;
}

.slider_vertical .slider__scale-division::before {
    width: 9px;
}

#demo3 .slider_vertical .slider__scale-division span {
    left: auto;
    right: 25px;
}

input[name='customValues'] {
    width: 100%;
}

.row_with-margin-top {
    margin-top: 20px;
}